<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <title>Home - Spring Boot Thymeleaf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div layout:fragment="content" class="container">
            <div class="jumbotron">
                <h1>Home</h1>
                <p>此示例是一个快速练习，用于说明默认的静态导航栏和固定到顶部导航栏的工作方式。
                     它包括响应式CSS和HTML，因此它也适应您的视口和设备。</p>
                <p>
                <p>
                    	使用我们的任何示例快速获得一个项目，从使用框架的一部分到自定义组件和布局。
                </p>
                <p>关于下面的集合，它的内容，创作者等的简短和领先。让它简短而甜蜜，但不要太短，所以人们不要简单地完全跳过它。</p>
                <a class="btn btn-lg btn-primary" href="" role="button">Download Project</a>
                </p>
            </div>
        </div>

    </body>
</html>
