<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="htmlhead">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>管理员</title>
        <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
        <link rel="stylesheet" th:href="@{/vendors/base/vendor.bundle.base.css}">
        <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
    </head>
    <body>
    <div class="container-scroller">
        <!-- header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="container-fluid page-body-wrapper">
            <div th:replace="fragments/left :: left">left</div>
            <!-- content -->
            <div layout:fragment="content" id="content"></div>

            <!-- footer -->

        </div>
    </div>
        <script th:src="@{/vendors/base/vendor.bundle.base.js}"></script>
        <script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
        <script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"></script>
        <script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
        <script th:src="@{/js/off-canvas.js}"></script>
        <script th:src="@{/js/hoverable-collapse.js}"></script>
        <script th:src="@{/js/template.js}"></script>
        <script th:src="@{/js/dashboard.js}"></script>
        <script th:src="@{/js/data-table.js}"></script>
        <script th:src="@{/js/comm.js}" ></script>
        <script th:src="@{/js/jquery.dataTables.js}"></script>
        <script th:src="@{/js/dataTables.bootstrap4.js}"></script>
    </body>
</html>
