<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="~{fragments/layout :: htmlhead}" th:fragment="sites"></head>
    <body>
        <section layout:fragment="content">
            <link rel="stylesheet" th:href="@{/css/intial.css}"/>
            <div class="content-wrapper">
                <h1 class="h3 mb-3">设置</h1>
                <div class="row">
                    <div class="col-md-3 col-xl-2">
                        <div class="card-tab">
                            <div class="list-group list-group-flush" role="tablist" id="myTab">
                                <a href="#personal" data-toggle="tab" onclick="sonalfun()"
                                   class="list-group-item list-group-item-action active">账户信息</a>
                                <a href="#privacyAndSecurity" data-toggle="tab"
                                   class="list-group-item list-group-item-action">隐私和安全</a>
                                <a href="#home" data-toggle="tab"
                                   class="list-group-item list-group-item-action">电子邮件通知</a>
                                <a href="" data-toggle="tab" class="list-group-item list-group-item-action">Web通知</a>
                                <a href="" data-toggle="tab" class="list-group-item list-group-item-action">小组件</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" style="margin-left: 20%;margin-top: -230px;">
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-pane fade" id="personal">
                                        <div class="table table-striped py-1">
                                            <!--                                            <img th:src="${settingUsers.profilePicture}" alt="image" id="headimg" class="img-rounded"/>-->
                                            <div id="headimg" class="img-rounded"></div>
                                            <div style="margin-left: 15%;margin-top: -8%;">
                                                <button type="button" onclick="showWindow()"
                                                        class="btn btn-inverse-primary btn-rounded btn-icon">
                                                    <i class="mdi mdi-camera-party-mode"></i>
                                                </button>
                                                <button type="button" onclick="personalShow()"
                                                        class="btn btn-inverse-primary btn-rounded btn-icon">
                                                    <i class="mdi mdi-grease-pencil"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <p class="font-weight-bold"><i class="mdi mdi-clipboard-outline"></i>个性签名：
                                                </p>
                                                <p>[[${settingUsers.signature}]]</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="font-weight-bold"><i class="mdi mdi-account-circle"></i>用户名
                                                </p>
                                                <p>[[${settingUsers.userName}]]</p>
                                                <p class="font-weight-bold"><i class="mdi mdi-calendar-text"></i>出生年月日
                                                </p>
                                                <p>[[${settingUsers.dateBirth}]]</p>

                                            </div>
                                            <div class="col-md-6">
                                                <p class="font-weight-bold"><i class="mdi mdi-email"></i>邮箱地址</p>
                                                <p class="mb-2">[[${settingUsers.email}]]</p>
                                                <p class="font-weight-bold"><i class="mdi mdi-cellphone-iphone"></i>手机号码
                                                </p>
                                                <p>[[${settingUsers.iphone}]]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="privacyAndSecurity">
                                        <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                                            TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--图片裁剪-->
                <div class="photoclip">
                    <div class="clipbg-shade displaynone"></div>
                    <div class="clipbg displaynone">
                        <div id="clipArea"></div>
                        <div class="loading displaynone">正在载入图片...</div>
                        <div class="clipbg-outer">
                            <div class="footer">
                                <p>(温馨提示:滚动鼠标，可以缩放图片大小;双击图片可以按顺序旋转图片)</p>
                                <dl>
                                    <dd>
                                        <a href="javascript:void(0)">上传图片<input type="file" class="input" id="file"
                                                                                accept="image/*"></a>

                                    </dd>
                                    <dd id="clipBtn"><input type="button" class="btns" value="完成裁剪"/></dd>
                                </dl>

                            </div>

                        </div>
                        <div class="close-back">取消</div>
                    </div>
                </div>
                <!--修改个人资料-->
                <div class="personal-info">
                    <div class="personal-shade displaynone"></div>
                    <div class="personal-a displaynone">
                        <div id="personalArea"></div>
                        <div class="clipbg-outer">
                            <div class="card" style="margin-top: -450px">
                                <div class="card-body">
                                    <h4 class="card-title">修改个人信息</h4>
                                    <form class="forms-sample"  id="formid" data-parsley-validate="true" onsubmit="return false">
                                        <input type="hidden" name="id" th:value="${settingUsers.id}">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">用户名</label>
                                            <input type="text" name="userName" class="form-control"
                                                   id="exampleInputUsername1" placeholder="用户名">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">邮箱地址</label>
                                            <input type="email" name="email" class="form-control"
                                                   id="exampleInputEmail1" placeholder="邮箱地址">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">手机号码</label>
                                            <input type="number" name="iphone" class="form-control"
                                                   id="exampleInputPhone" placeholder="手机号码">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">密码</label>
                                            <input type="password" name="" class="form-control"
                                                   id="exampleInputPassword1" placeholder="密码">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputConfirmPassword1">确认密码</label>
                                            <input type="password" name="password" class="form-control"
                                                   id="exampleInputConfirmPassword1" placeholder="确认密码">
                                        </div>
                                        <button onclick="submitbut()" class="btn btn-primary mr-2">保存</button>
                                        <div class="btn btn-light" onclick="personalbut()">取消</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </section>
        <script th:src="@{http://testwww.9mitao.com/layui_live/lay/lib/jquery.min.js}"></script>
        <script th:src="@{/js/hammer.min.js}"></script>
        <script th:src="@{/js/lrz.all.bundle.js}"></script>
        <script th:src="@{/js/iscroll-zoom-min.js}"></script>
        <script th:src="@{/js/PhotoClip.js}"></script>
        <script th:inline="javascript">
            function sonalfun() {
                var url = [[${settingUsers.profilePicture}]];
                if (url != null) {
                    $('#headimg').css('background-image', 'url( ' + url + ')');
                }

            }

            function personalShow() {
                $(".personal-a").fadeIn();
                $('.personal-shade').fadeIn();
            }

            function showWindow() {
                $(".clipbg").fadeIn();
                $('.clipbg-shade').fadeIn();
            }

            var clipArea = new PhotoClip("#clipArea", {
                size: [360, 270], //裁剪框大小
                outputSize: [360, 270], //打开图片大小，[0,0]表示原图大小
                file: "#file",
                ok: "#clipBtn",
                loadStart: function () { //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
                    $(".loading").removeClass("displaynone");
                },
                loadComplete: function () { //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
                    $(".loading").addClass("displaynone");
                },
                done: function (dataURL) { //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。
                    // console.log(dataURL); //dataURL裁剪后图片地址base64格式提交给后台处理
                    uploadImage(dataURL);
                    $('#headimg').css('background-image', 'url( ' + dataURL + ')');
                    $(".clipbg").fadeOut();
                    $('.clipbg-shade').fadeOut();
                }
            });
            $(".close-back").click(function () {
                $(".clipbg").fadeOut();
                $('.clipbg-shade').fadeOut();
            });

            function personalbut() {
                $(".personal-a").fadeOut();
                $('.personal-shade').fadeOut();
            };

            function uploadImage(dataURL) {
                var dataURL2 = dataURL.replace(/\+/g, '%2B');
                $.ajax({
                    url: '/uploadImage',
                    data: 'dataURL=' + dataURL2,
                    async: false,
                    type: 'POST',
                    dataType: "json",
                    success: function (response) {
                        if (response.rspCode == '000000') {
                            toastr.success("上传成功！");
                        } else {
                            toastr.error(response.rspMsg, '失败');
                        }

                    },
                    error: function (XmlHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }

                });
            }

            function submitbut() {
                $.ajax({
                    type: "POST",
                    url: "/fromus",
                    data: $('#formid').serialize(),// 你的formid
                    async: false,
                    dataType: "json",
                    success: function (response) {
                        if (response.rspCode == '000000') {
                            personalbut();
                            toastr.success("保存成功！请重新登录")
                        } else {
                            toastr.error(response.rspMsg, '失败');
                        }

                    }
                })
            }

        </script>
    </body>
</html>